<div class="create-quote home">
    <h1>Our Quotes</h1>

    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>

    
    <div >
        <div class="quote-list">
          <!-- {{quote.quote}} -->
            <div class="item" *ngFor="let quote of quotes; let i = index">
                <div class="top">
                    <app-quote-detail [quote]="quote"></app-quote-detail>
                </div>
                <div class="btn-container">
                    <div>
                        <button (click)="upvoteQuote(i)">Upvote</button> 
                        <h4>{{quote.upVote}}</h4>
                    </div>
                    <div>
                        <button (click)="downVote(i)">Downvote</button>
                        <h4>{{quote.downVote}}</h4>
                    </div>

                    <div>
                        <button>Delete Quote</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>
