div {
    text-align: center;
    background-color: aqua;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    button {
        height: 30px;
    }
}