<div>
    <h2>Create new Quote</h2>

    <form (ngSubmit)="submitQuote()" #quoteForm="ngForm">
        <div>
            <label for="Quote">Quote</label><br>
            <textarea name="quote" id="quote" rows="5" required name="quote" [(ngModel)]="newQuote.quote" #description="ngModel"></textarea>
        </div>

        <div>
            <label for="author">Author</label><br>
            <input type="text" required id="author" [(ngModel)]="newQuote.author" name="author" #author="ngModel">
        </div>

        <div>
            <label for="submittedBy">Submitted By</label><br>
            <input type="text" required id="submittedBy" [(ngModel)]="newQuote.submittedBy" name="submittedBy" #submittedBy="ngModel">
        </div>

        <button type="submit">Submit</button>
    </form>
</div>