.home {
    text-align: center;
    // background-color: aqua;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    max-width: 70%;
    // background-image: url(../../assets/sean-oulashin-KMn4VEeEPR8-unsplash.jpg);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.432) ,rgba(0, 0, 0, 0.411)), url(https://github.com/kennedybabu/thumps-up-quote-app/blob/master/src/assets/sean-oulashin-KMn4VEeEPR8-unsplash.jpg?raw=true);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    color: #fef9ff;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;


    textarea {
        border-radius: 10px;
        opacity: .7;
    }

    input {
        border-radius: 10px;
        border: none;
        opacity: .7;

    }

    button {
        height: 30px;
        background-color: #d62839;
        color: #fef9ff;
    }
}

button {
    margin-top: 1.5rem;
    border-radius: 15px;
    border: none;
    padding: .2rem 1rem;
    background-color: rgb(160, 160, 235);
}